WEB3_PROVIDER_URI=<Sepolia Testnet User API URL>
USER_PRIVATE_KEY=<Metamask User Wallet Private Key>
ETHERNAUT_ADDRESS=0x
ETHERNAUT_LEVEL_00=0x
ETHERNAUT_LEVEL_01=0x
ETHERNAUT_LEVEL_02=0x
ETHERNAUT_LEVEL_03=0x
ETHERNAUT_LEVEL_04=0x
ETHERNAUT_LEVEL_05=0x
ETHERNAUT_LEVEL_06=0x
ETHERNAUT_LEVEL_07=0x
ETHERNAUT_LEVEL_08=0x
ETHERNAUT_LEVEL_09=0x
ETHERNAUT_LEVEL_10=0x
ETHERNAUT_LEVEL_11=0x
ETHERNAUT_LEVEL_12=0x
ETHERNAUT_LEVEL_13=0x
ETHERNAUT_LEVEL_14=0x
ETHERNAUT_LEVEL_15=0x
ETHERNAUT_LEVEL_16=0x
ETHERNAUT_LEVEL_17=0x
ETHERNAUT_LEVEL_18=0x
ETHERNAUT_LEVEL_19=0x
ETHERNAUT_LEVEL_20=0x
ETHERNAUT_LEVEL_21=0x
ETHERNAUT_LEVEL_22=0x
ETHERNAUT_LEVEL_23=0x
ETHERNAUT_LEVEL_24=0x
ETHERNAUT_LEVEL_25=0x
ETHERNAUT_LEVEL_26=0x
ETHERNAUT_LEVEL_27=0x
ETHERNAUT_LEVEL_28=0x
ETHERNAUT_LEVEL_29=0x
ETHERNAUT_LEVEL_30=0x
ETHERNAUT_LEVEL_31=0x
ETHERNAUT_LEVEL_32=0x
ETHERNAUT_LEVEL_33=0x
ETHERNAUT_LEVEL_34=0x
ETHERNAUT_LEVEL_35=0x
ETHERNAUT_LEVEL_36=0x
ETHERNAUT_LEVEL_37=0x
ETHERNAUT_LEVEL_38=0x
ETHERNAUT_LEVEL_39=0x
ETHERNAUT_LEVEL_40=0x