<% 
  css=[] 
  js=[] 
%>
<%- include('../components/header') %>
<%- include('../components/navbar') %>

  <section>
    <div class="py-3">
      <div class="container">
        <p style="text-align: center; font-size: 72px;"><span style="color: red">404</span> Not Found</p>
      </div>
    </div>
  </section>

<%- include('../components/footer') %>