[submodule "Wargame/dreamhack.io/web3/level2/sc-make-boko-winner/boko-chal/lib/forge-std"]
	path = Wargame/dreamhack.io/web3/level2/sc-make-boko-winner/boko-chal/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ctf/2025/bi0sctf-2025/blockchain/vastavikamania-token/lib/forge-std"]
	path = ctf/2025/bi0sctf-2025/blockchain/vastavikamania-token/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
