body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flexbox;
}

.blue-a {
    color: #007bff;
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

.button.primary {
    background-color: #28a745;
}

.button.primary:hover {
    background-color: #218838;
}

.button.danger {
    background-color: #dc3545;
}

.button.danger:hover {
    background-color: #c82333;
}

#loginForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
}

.form-group input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-group input[type="submit"]:hover {
    background-color: #218838;
}

.form-group input[type="color"] {
    width: 30%;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.post-content {
    margin-top: 20px;
    line-height: 1.6;
}

.post-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-info span {
    margin-right: 10px;
    font-weight: bold;
}

.user-info .button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}

.user-info .button:hover {
    background-color: #c82333;
}

#new-post {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#new-post div {
    display: flex;
    flex-direction: column;
}

#new-post label {
    margin-bottom: 5px;
}

#new-post input[type="text"],
#new-post textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#new-post button {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

#new-post button:hover {
    background-color: #218838;
}