<% 
  css=[] 
  js=['main.js'] 
%>
<%- include('./components/header') %>
<%- include('./components/navbar') %>

    <section>
      <div class="py-3">
        <div class="container">
        </div>
      </div>
    </section>

<%- include('./components/footer') %>