<% 
  css=[] 
  js=['room.js'] 
%>
<%- include('./components/header') %>
<%- include('./components/navbar') %>

  <section>
    <div class="py-3">
      <div class="container">
        <div>
          <p id="roomTitle" style="font-size: 48px; text-align: center; margin-bottom: 1px;" onclick="changeComment()" >
          </p>
          <p style="text-align: center; color: #007bff;"><a id="changeMusic">Change Music</a></p>
        </div>
        <hr>
        <div style="text-align: center;">
          <canvas id="room" width="1000" height="800" style="outline: 1px solid;"></canvas>
          <input type="file" style="visibility: hidden" id="uploadfile">
        </div>
      </div>
    </div>
  </section>

<%- include('./components/footer') %>