    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #f0c46d;">
      <div class="container">
        <a style="color: #ffffff" href="/">MetaPwn</a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

          </ul>
          <div id="adaptiveNavbar">
            <ul class="nav navbar-nav" style="font-size: 18px;">
              <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
              <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>